{# templates/admin/commande/index.html.twig #}
{% extends 'admin/base.html.twig' %}

{% block title %}Commandes - Admin{% endblock %}

{% block page_title %}Gestion des commandes{% endblock %}

{% block body %}
    <div class="alert alert-info">
        <i class="bi bi-info-circle"></i> Interface de gestion des commandes en cours de développement.
    </div>
{% endblock %}
